*~
.nfs*
*tmp*
*sh
*pyc

dicomToNifti
structReconAll
funcProcess
funcBbreg
funcBbreg.sh
funcBbreg_tmp
funcBbreg_tmp.sh
funcRegis
funcRegis.sh
structAnts
structAnts.sh
funcProcess.sh
structReconAll.sh
